@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body {
    background: #F8F8F8;
    color: #2b2b2b;
}

.btn-primary {
    @apply px-6 py-2 rounded-full text-white font-bold;
    background-color: #FE5F1E;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #b23301;
}

.add-to-cart {
    @apply py-1 px-6 rounded-full flex items-center font-bold;
    border: 2px solid #FE5F1E;
    color: #FE5F1E;
    transition: all 0.3s ease-in-out;
}

.add-to-cart:hover {
    background: #FE5F1E;
    color: #fff;
}